# Step 1: Crawl movie review webpage

In [1]:
import pandas as pd

In [2]:
df_list = pd.read_html('https://www.rottentomatoes.com/critics/latest_reviews/')
#df_list = pd.read_html('./dataset/movie_index.html')
df = df_list[2]
df.head()

,Rating,Movie,Review,Critic
0,NaN,Duck Butter,"""It is not a light movie (as the trailers migh...",Jade Budowski Decider
1,NaN,Hannah Gadsby: Nanette,"""This is different. Not a little different, bu...",Linda Holmes NPR
2,NaN,Under the Tree (Undir trénu),"""Iceland's 90th Oscars entry, Under the Tree (...",Danielle Solzman Solzy at the Movies
3,NaN,Andre the Giant,"""Even if you're not a wrestling fan, you can a...",Christopher Campbell Thrillist
4,NaN,Game Night,"""Hollywood needs to be employing Rachel McAdam...",Christopher Campbell Film School Rejects

# Step 2: Save table into CSV file call "movie_review.csv"

In [3]:
df.to_csv('movie_review.csv', index=False)

# Step 3: Create a DB called "movie_review" and a table called "movie_table". Save pandas dataframe into sqlite DB

In [4]:
import sqlite3 as sql
conn = sql.connect("movie_review.db")
df.to_sql("movie_table", conn, if_exists="replace", index=False)

# Step 4: Query all data from "movie_table"

In [5]:
df_query = pd.read_sql_query("select * from movie_table;", conn)
print(df_query.head())

  Rating                         Movie  \
0   None                   Duck Butter
1   None        Hannah Gadsby: Nanette
2   None  Under the Tree (Undir trénu)
3   None               Andre the Giant
4   None                    Game Night

                                              Review  \
0  "It is not a light movie (as the trailers migh...
1  "This is different. Not a little different, bu...
2  "Iceland's 90th Oscars entry, Under the Tree (...
3  "Even if you're not a wrestling fan, you can a...
4  "Hollywood needs to be employing Rachel McAdam...

                                      Critic
0                     Jade Budowski  Decider
1                          Linda Holmes  NPR
2      Danielle Solzman  Solzy at the Movies
3            Christopher Campbell  Thrillist
4  Christopher Campbell  Film School Rejects