In [2]:
import pandas as pd

# dataFrame 
# 1. 就如 Table 表格,  多個 series, 共享相同的 index, 每個 series 可以不同 的 Data Type
# 2. 列索引與欄索引  [row_indexer , col_indexer]  (列標籤索引與欄標籤索引)
# 3. axis 方向很重要 ; 沿著 row 的方向 axis = 0,  沿著column 的方向 axis = 1, 

# region DataFrame 結構

In [10]:
data ={'name':['aaa','bbb','zzz','sss','qqq','www'],
          'gender':['male','male','female','male','female','female'],
          'chi':[80,63,26,75,78,90],
          'eng':[90,98,97,67,58,90],
          'math':[20,40,50,60,70,80]}
df=pd.DataFrame(data,columns=['name','gender','chi','eng','math'])
print(df)

  name  gender  chi  eng  math
0  aaa    male   80   90    20
1  bbb    male   63   98    40
2  zzz  female   26   97    50
3  sss    male   75   67    60
4  qqq  female   78   58    70
5  www  female   90   90    80

In [13]:
print(df.ndim,df.shape,df.size)

2 (6, 5) 30

In [18]:
print(df.columns,df.index,df.dtypes)

Index(['name', 'gender', 'chi', 'eng', 'math'], dtype='object') RangeIndex(start=0, stop=6, step=1) name      object
gender    object
chi        int64
eng        int64
math       int64
dtype: object

In [19]:
print(type(df.values),df.values)

<class 'numpy.ndarray'> [['aaa' 'male' 80 90 20]
 ['bbb' 'male' 63 98 40]
 ['zzz' 'female' 26 97 50]
 ['sss' 'male' 75 67 60]
 ['qqq' 'female' 78 58 70]
 ['www' 'female' 90 90 80]]

In [20]:
print(df.describe())

             chi        eng       math
count   6.000000   6.000000   6.000000
mean   68.666667  83.333333  53.333333
std    22.642144  16.729216  21.602469
min    26.000000  58.000000  20.000000
25%    66.000000  72.750000  42.500000
50%    76.500000  90.000000  55.000000
75%    79.500000  95.250000  67.500000
max    90.000000  98.000000  80.000000

In [27]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
name      6 non-null object
gender    6 non-null object
chi       6 non-null int64
eng       6 non-null int64
math      6 non-null int64
dtypes: int64(3), object(2)
memory usage: 320.0+ bytes
None

In [28]:
print(df.head(6))

  name  gender  chi  eng  math
0  aaa    male   80   90    20
1  bbb    male   63   98    40
2  zzz  female   26   97    50
3  sss    male   75   67    60
4  qqq  female   78   58    70
5  www  female   90   90    80

In [25]:
print(df.tail())

  name  gender  chi  eng  math
1  bbb    male   63   98    40
2  zzz  female   26   97    50
3  sss    male   75   67    60
4  qqq  female   78   58    70
5  www  female   90   90    80

In [29]:
print(df.head())

  name  gender  chi  eng  math
0  aaa    male   80   90    20
1  bbb    male   63   98    40
2  zzz  female   26   97    50
3  sss    male   75   67    60
4  qqq  female   78   58    70

In [31]:
print(df.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>gender</th>
      <th>chi</th>
      <th>eng</th>
      <th>math</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>aaa</td>
      <td>male</td>
      <td>80</td>
      <td>90</td>
      <td>20</td>
    </tr>
    <tr>
      <th>1</th>
      <td>bbb</td>
      <td>male</td>
      <td>63</td>
      <td>98</td>
      <td>40</td>
    </tr>
    <tr>
      <th>2</th>
      <td>zzz</td>
      <td>female</td>
      <td>26</td>
      <td>97</td>
      <td>50</td>
    </tr>
    <tr>
      <th>3</th>
      <td>sss</td>
      <td>male</td>
      <td>75</td>
      <td>67</td>
      <td>60</td>
    </tr>
    <tr>
      <th>4</th>
      <td>qqq</td>
      <td>female</td>
      <td>78</td>
      <td>58</td>
      <td>70</td>
    </tr>
    <tr>
      <th>5</th>
      <td>www</td>
      <td>female</td>
      <td>90</td>
      <td>90</td>
      <td>80</td>
    </tr>
  </tbody>
</table>

In [41]:
# df.loc['aaa','math']=100
# print(df.to_excel('data/test.xlsx'))

None

In [40]:
todo US babt names 總共有幾筆？ show 前十筆
df_baby=pd.DataFrame(pd.read_csv('data/US_Baby_Names_right.csv'))
print(df_baby.head())

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

In [76]:
#todo 有多少小baby叫Mary
bn=pd.DataFrame(pd.read_csv('data/US_Baby_Names_right.csv'))

print(bn.loc[bn.Name=='Mary',['Name','Count']])

         Name  Count
73       Mary     11
230      Mary     18
511      Mary      9
713      Mary     11
896      Mary     12
1217     Mary      6
1317     Mary     15
1537     Mary     15
1765     Mary     15
1993     Mary     14
2351     Mary      6
5001     Mary    204
5832     Mary    221
6691     Mary    150
7585     Mary    191
8527     Mary    183
9465     Mary    144
10381    Mary    147
11301    Mary    138
12212    Mary    123
13083    Mary    126
13968    Mary    112
23310    Mary     86
23930    Mary     68
24571    Mary     57
25224    Mary     54
25909    Mary     39
26574    Mary     44
27224    Mary     45
27929    Mary     33
...       ...    ...
970968   Mary     35
972181   Mary     39
973447   Mary     32
985594   Mary     64
986462   Mary     57
987370   Mary     57
988324   Mary     53
989294   Mary     52
990350   Mary     36
991341   Mary     41
992352   Mary     34
993374   Mary     28
994309   Mary     36
995269   Mary     36
1005052  Mary     31
1005494  Mary     15
1005848  Mary     19
1006224  Mary     21
1006669  Mary     14
1007047  Mary     16
1007448  Mary     13
1007821  Mary     16
1008652  Mary     14
1009107  Mary     10
1013154  Mary      5
1013504  Mary      7
1013686  Mary      6
1013786  Mary      7
1013902  Mary      8
1014481  Mary      5

[530 rows x 2 columns]

In [78]:
print((bn.loc[bn.Name=='Mary','Count']).sum())

36944

In [42]:
print(df['chi'])

0      80.0
1      63.0
2      26.0
3      75.0
4      78.0
5      90.0
aaa     NaN
a       NaN
Name: chi, dtype: float64

In [43]:
print(df.chi)

0      80.0
1      63.0
2      26.0
3      75.0
4      78.0
5      90.0
aaa     NaN
a       NaN
Name: chi, dtype: float64

In [44]:
print(df)

    name  gender   chi   eng   math
0    aaa    male  80.0  90.0   20.0
1    bbb    male  63.0  98.0   40.0
2    zzz  female  26.0  97.0   50.0
3    sss    male  75.0  67.0   60.0
4    qqq  female  78.0  58.0   70.0
5    www  female  90.0  90.0   80.0
aaa  NaN     NaN   NaN   NaN  100.0
a    NaN     NaN   NaN   NaN  100.0

In [45]:
print(df[['chi','math']])

      chi   math
0    80.0   20.0
1    63.0   40.0
2    26.0   50.0
3    75.0   60.0
4    78.0   70.0
5    90.0   80.0
aaa   NaN  100.0
a     NaN  100.0

In [50]:
print(df['chi'],type(df.chi))

0      80.0
1      63.0
2      26.0
3      75.0
4      78.0
5      90.0
aaa     NaN
a       NaN
Name: chi, dtype: float64 <class 'pandas.core.series.Series'>

In [49]:
print(df.chi,type(df.chi))

0      80.0
1      63.0
2      26.0
3      75.0
4      78.0
5      90.0
aaa     NaN
a       NaN
Name: chi, dtype: float64 <class 'pandas.core.series.Series'>

In [69]:
df['Avg']=(df.chi+df.eng+df.math)/3
print(df)

    name  gender   chi   eng   math        Avg
0    aaa    male  80.0  90.0   20.0  63.333333
1    bbb    male  63.0  98.0   40.0  67.000000
2    zzz  female  26.0  97.0   50.0  57.666667
3    sss    male  75.0  67.0   60.0  67.333333
4    qqq  female  78.0  58.0   70.0  68.666667
5    www  female  90.0  90.0   80.0  86.666667
aaa  NaN     NaN   NaN   NaN  100.0        NaN
a    NaN     NaN   NaN   NaN  100.0        NaN

In [72]:
print(df.loc[df.eng<60,['name','gender','eng']],type(df.eng))

  name  gender   eng
4  qqq  female  58.0 <class 'pandas.core.series.Series'>

In [61]:
print(df['eng']>60)

0       True
1       True
2       True
3       True
4      False
5       True
aaa    False
a      False
Name: eng, dtype: bool

In [82]:
print(df[["chi","eng","math"]].sum(axis='index'))

chi     412.0
eng     500.0
math    520.0
dtype: float64

In [83]:
print(df[["chi","eng","math"]].sum())

chi     412.0
eng     500.0
math    520.0
dtype: float64

In [84]:
print(df[["chi","eng","math"]].sum(axis=0))

chi     412.0
eng     500.0
math    520.0
dtype: float64

In [85]:
print(df[["chi","eng","math"]].sum(axis=1))

0      190.0
1      201.0
2      173.0
3      202.0
4      206.0
5      260.0
aaa    100.0
a      100.0
dtype: float64

In [86]:
print(df[["chi","eng","math"]].sum(axis='columns'))

0      190.0
1      201.0
2      173.0
3      202.0
4      206.0
5      260.0
aaa    100.0
a      100.0
dtype: float64

In [88]:
print(df[["chi","eng","math"]].sum(axis='rows'))

chi     412.0
eng     500.0
math    520.0
dtype: float64

In [89]:
print(df[["chi","eng","math"]].agg(['min','max','sum']))

       chi    eng   math
min   26.0   58.0   20.0
max   90.0   98.0  100.0
sum  412.0  500.0  520.0