In [5]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
# region Create Series

# Series - 有 label 標籤索引   的 一維  ndarray 

# 位置索引 (int index)               index 可以是  0,1,2 .. (預設)   
# 標籤索引 (label index)             index 可以是 'a', 'b'... (index 可重複)

series1 = pd.Series([11,22,33])
(series1)

0    11
1    22
2    33
dtype: int64

In [6]:
print(series1.index)

RangeIndex(start=0, stop=3, step=1)

In [7]:
print(series1.values, type(series1.values))

[11 22 33] <class 'numpy.ndarray'>

In [8]:
print(series1.ndim, series1.shape)

1 (3,)

In [9]:
series1.index.name='id'
series1.name='Chi'
print(series1)

id
0    11
1    22
2    33
Name: Chi, dtype: int64

In [12]:
series1 = pd.Series([80,90, 100], index=['a','b','c'], name='Chi Scores')
print(series1)

a     80
b     90
c    100
Name: Chi Scores, dtype: int64

In [13]:
print(series1*2)
print(series1 >= 90)
print(series1[series1>=90]) #布林索引

a    160
b    180
c    200
Name: Chi Scores, dtype: int64
a    False
b     True
c     True
Name: Chi Scores, dtype: bool
b     90
c    100
Name: Chi Scores, dtype: int64

In [15]:
series2 = pd.Series([80,70, 100,99], index=['a','b','c','d'], name='Eng Scores')
print(series2)

a     80
b     70
c    100
d     99
Name: Eng Scores, dtype: int64

In [16]:
series2 = pd.Series([80,70, 100,99], index=['a','b','c','d'], name='Eng Scores')
print(series1 + series2)

a    160.0
b    160.0
c    200.0
d      NaN
dtype: float64

In [42]:
# region Series index [ ] 篩選資料
series1 = pd.Series([80,90, 100], index=['a','b','c'])
print(series1['a'], series1[0]) # 直接索引[]  OK

90 80

In [30]:
# 直接索引[] confuse
series1 =  pd.Series([80,70, 100,99], index=[5,6,0,3])
print(series1[0])

100

In [81]:
# 
# iloc -int positional indexing 位置索引 (一定是 int 整數用) ; iloc[]  interger by location :
# loc - label indexing          標籤索引 (          標籤用)
series1 = pd.Series(np.arange(10), index=list('abcdefghij'))
print(series1)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [64]:
print(series1.loc['5'])
print(series1.loc['a'])
print(series1.iloc[3])
print(series1.iloc[3:7])
print(series1.iloc[[0,3,5]])

print(series1.loc['a'])
print(series1.loc['a':'f'])
print(series1.loc[['a','b','f']])

6
0
3
d    3
e    4
f    5
5    6
dtype: int64
a    0
d    3
f    5
dtype: int64
0
a    0
b    1
c    2
d    3
e    4
f    5
dtype: int64
a    0
b    1
f    5
dtype: int64

In [66]:
# TODO  測驗回答以下 series 有幾個元素
s1 = pd.Series( np.arange(10), index=[2,3,1,6,7,8,9,10,11,5])
print(s1)
print(s1.iloc[:3]) 
print(s1.loc[:1])

2     0
3     1
1     2
6     3
7     4
8     5
9     6
10    7
11    8
5     9
dtype: int64
2    0
3    1
1    2
dtype: int64
2    0
3    1
1    2
dtype: int64

In [82]:
print(series1.loc[series1%2==0])
print(series1.loc[series1>5])
print(series1[series1>5])      # 直接索引 OK, for boolean index
print(series1.a)               # 動態屬性
print(series1[6])               # 動態屬性

b     2
d     4
f     6
h     8
j    10
dtype: int64
f     6
g     7
h     8
i     9
j    10
dtype: int64
f     6
g     7
h     8
i     9
j    10
dtype: int64
1
7

In [83]:
def myfunc(s):
    # ..............
    return (s>5) & (s<8)
print(series1.loc[myfunc])                        # 具名方法 function
print(series1.loc[lambda s: (s>5) & (s<8) ])     # 匿名方法 function

f    6
g    7
dtype: int64
f    6
g    7
dtype: int64

In [99]:
# iat /at - for scalar value
# print(series1.iat[0])
# print(series1.at['a'])

# endregion

# region Series apply() map()
series1=pd.Series([1,2,3,4,5,6,7,8,9])

def myfunc(x, args=(), **kwds):
    # if x %2==0:
    #     return 'Even'
    # else :
    #     return 'Odd'
    return 'Even' if x%2==0 else 'Odd'

print(series1.apply(myfunc,args=(9,)))
print(series1.apply(lambda x:'Even' if x%2==0 else 'Odd' ))

0     Odd
1    Even
2     Odd
3    Even
4     Odd
5    Even
6     Odd
7    Even
8     Odd
dtype: object
0     Odd
1    Even
2     Odd
3    Even
4     Odd
5    Even
6     Odd
7    Even
8     Odd
dtype: object

In [100]:
# TODO  value>3 *30 else *3
series1=pd.Series([1,2,3,4,5,6,7,8,9,10])
print(series1.apply(lambda x:  x*30 if x>3 else x*3 ))

0      3
1      6
2      9
3    120
4    150
5    180
6    210
7    240
8    270
9    300
dtype: int64

In [102]:
# TODO apply => ABCDE
def myfunc(value):
    # logic .................
   if (value<60):
       grade= 'E'
   elif (value<70):
      grade='D'
   elif (value<80):
       grade= 'C'   
   elif (value<90):
       grade= 'B'
   else:
      grade='A'   
   return '{0} ({1})'.format(value, grade) 

series1 = pd.Series( np.random.randint(60, 101, 100))
print(series1)

0      60
1      61
2      68
3      77
4      79
5      87
6      62
7      93
8      67
9      60
10     61
11     62
12     97
13     98
14     71
15     66
16     75
17     82
18    100
19     92
20     83
21     78
22     67
23     88
24     85
25     80
26     60
27     92
28     62
29     91
     ...
70     70
71     99
72     63
73     85
74     91
75     76
76     92
77     91
78     74
79     73
80     69
81     64
82     90
83     60
84     74
85     90
86     71
87     62
88     66
89     99
90     91
91     81
92     60
93     74
94     86
95     75
96     96
97     74
98     98
99     93
Length: 100, dtype: int64

In [103]:
print(series1.apply(myfunc))

0      60 (D)
1      61 (D)
2      68 (D)
3      77 (C)
4      79 (C)
5      87 (B)
6      62 (D)
7      93 (A)
8      67 (D)
9      60 (D)
10     61 (D)
11     62 (D)
12     97 (A)
13     98 (A)
14     71 (C)
15     66 (D)
16     75 (C)
17     82 (B)
18    100 (A)
19     92 (A)
20     83 (B)
21     78 (C)
22     67 (D)
23     88 (B)
24     85 (B)
25     80 (B)
26     60 (D)
27     92 (A)
28     62 (D)
29     91 (A)
       ...
70     70 (C)
71     99 (A)
72     63 (D)
73     85 (B)
74     91 (A)
75     76 (C)
76     92 (A)
77     91 (A)
78     74 (C)
79     73 (C)
80     69 (D)
81     64 (D)
82     90 (A)
83     60 (D)
84     74 (C)
85     90 (A)
86     71 (C)
87     62 (D)
88     66 (D)
89     99 (A)
90     91 (A)
91     81 (B)
92     60 (D)
93     74 (C)
94     86 (B)
95     75 (C)
96     96 (A)
97     74 (C)
98     98 (A)
99     93 (A)
Length: 100, dtype: object

In [104]:
# region Sereis value_counts()
seriesC=pd.Series([90,80,100,80,90,90,100,100])
print(seriesC.groupby(seriesC).count())

80     2
90     3
100    3
dtype: int64

In [105]:
print(seriesC.value_counts())

100    3
90     3
80     2
dtype: int64

In [106]:
print(seriesC.groupby(seriesC).count().sort_values(ascending=False)) #倒序

100    3
90     3
80     2
dtype: int64

In [107]:
print(seriesC.groupby(seriesC).count().sort_values(ascending=True)) #正序

80     2
90     3
100    3
dtype: int64

In [108]:
print(seriesC.value_counts(normalize=True))#比例

100    0.375
90     0.375
80     0.250
dtype: float64

In [117]:
series3=pd.Series([90,100,90,90,100,80])
print(series3.unique().size)

3

In [119]:
print(series3.isin([90,100]))

0     True
1     True
2     True
3     True
4     True
5    False
dtype: bool

In [120]:
data = np.random.randint(1000, 5000, 1000)
seriesy = pd.Series(data, index=pd.date_range('1/1/2000', periods=1000))

print(seriesy)
print(seriesy.index.year)

print(seriesy.groupby(seriesy.index.year).sum())

#年累積總銷售

2000-01-01    2655
2000-01-02    4291
2000-01-03    1675
2000-01-04    3089
2000-01-05    4912
2000-01-06    2330
2000-01-07    4704
2000-01-08    2447
2000-01-09    1292
2000-01-10    1465
2000-01-11    2798
2000-01-12    1477
2000-01-13    4235
2000-01-14    3028
2000-01-15    3556
2000-01-16    2263
2000-01-17    3281
2000-01-18    1208
2000-01-19    2481
2000-01-20    4483
2000-01-21    3286
2000-01-22    1674
2000-01-23    4058
2000-01-24    3133
2000-01-25    1069
2000-01-26    3405
2000-01-27    4700
2000-01-28    4922
2000-01-29    1648
2000-01-30    4298
              ...
2002-08-28    2632
2002-08-29    1112
2002-08-30    3404
2002-08-31    2992
2002-09-01    2014
2002-09-02    2213
2002-09-03    3103
2002-09-04    1398
2002-09-05    1176
2002-09-06    2022
2002-09-07    4574
2002-09-08    4403
2002-09-09    2544
2002-09-10    3243
2002-09-11    1312
2002-09-12    3788
2002-09-13    3370
2002-09-14    1747
2002-09-15    3302
2002-09-16    1628
2002-09-17    3445
2002-09-18    4583
2002-09-19    2936
2002-09-20    1937
2002-09-21    3052
2002-09-22    3609
2002-09-23    4192
2002-09-24    2077
2002-09-25    3792
2002-09-26    4115
Freq: D, Length: 1000, dtype: int64
Int64Index([2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000,
            ...
            2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002],
           dtype='int64', length=1000)
2000    1090474
2001    1077728
2002     807283
dtype: int64

In [121]:
print(seriesy.groupby(seriesy.index.year).sum().cumsum())

2000    1090474
2001    2168202
2002    2975485
dtype: int64

In [122]:
print(seriesy.groupby(seriesy.index.month).sum())

1     276429
2     255463
3     283413
4     244247
5     284341
6     263875
7     283522
8     283003
9     244193
10    195750
11    171983
12    189266
dtype: int64

In [123]:
#multi-index 階層式索引
print(seriesy.groupby([seriesy.index.year, seriesy.index.month]).sum())

2000  1      92902
      2      93091
      3      88260
      4      80314
      5      96351
      6      89744
      7      94393
      8      97920
      9      78668
      10    102942
      11     84846
      12     91043
2001  1      91137
      2      79096
      3      89525
      4      83660
      5      93964
      6      95043
      7      83462
      8      93723
      9      89950
      10     92808
      11     87137
      12     98223
2002  1      92390
      2      83276
      3     105628
      4      80273
      5      94026
      6      79088
      7     105667
      8      91360
      9      75575
dtype: int64

In [124]:
print(seriesy.groupby([seriesy.index.year, seriesy.index.month]).sum().unstack()) # 把列變成欄（unstack)

           1        2         3        4        5        6         7   \
2000  92902.0  93091.0   88260.0  80314.0  96351.0  89744.0   94393.0
2001  91137.0  79096.0   89525.0  83660.0  93964.0  95043.0   83462.0
2002  92390.0  83276.0  105628.0  80273.0  94026.0  79088.0  105667.0

           8        9         10       11       12
2000  97920.0  78668.0  102942.0  84846.0  91043.0
2001  93723.0  89950.0   92808.0  87137.0  98223.0
2002  91360.0  75575.0       NaN      NaN      NaN

In [ ]:
series.unstack