# Pandas Series/Dataframe/Panel

In [8]:
import pandas as pd
import numpy as np
s = pd.Series([0.1, 0.2, 0.3, 0.4])
print(s)
s = pd.Series([0.1, 0.2, 0.3, 0.4], index=['a', 'b', 'c', 'd'])
print(s)

df = pd.DataFrame(np.random.randn(6,4))
print(df)

df = pd.DataFrame(np.random.randn(6,4), columns=['a', 'b', 'c', 'd'], index=['x', 'y', 'z', 'p', 'q', 'r'])
print(df)

p = pd.Panel(np.random.randn(2,3,4))
print(p)

# more panel usage please reference https://www.tutorialspoint.com/python_pandas/python_pandas_panel.htm

0    0.1
1    0.2
2    0.3
3    0.4
dtype: float64
a    0.1
b    0.2
c    0.3
d    0.4
dtype: float64
          0         1         2         3
0 -0.807616  0.901027  0.095159  1.005966
1 -0.232653  0.308556  0.600042 -1.807207
2 -0.370224 -0.699534  1.222552  0.142990
3  1.010913  0.663653  0.165975  0.366467
4 -2.308656 -1.389994  1.986275  1.342418
5  0.150081  1.065846  1.023608 -1.571769
          a         b         c         d
x -1.606720  0.270427  0.377963 -1.444301
y  1.855346  1.823397 -1.140276 -1.924299
z -0.193795  1.884402 -0.490442 -1.140895
p  0.156089  0.680609  0.166573  0.933301
q  1.553389 -0.829451  1.535319  0.409793
r  0.659245 -0.742579 -2.071875  1.829944
<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 3 (major_axis) x 4 (minor_axis)
Items axis: 0 to 1
Major_axis axis: 0 to 2
Minor_axis axis: 0 to 3

# Create Dataframe from List/Dict

In [1]:
import pandas as pd

my_list = [('isaac', 60, 50),('julie', 90, 70),('alex', 30, 40)]
header = ['name','math score','english score']
df_from_list = pd.DataFrame.from_records(my_list, columns=header)

print('create dataframe from list')
print(df_from_list)



my_dict = \
[{'name':'isaac', 'math score':60,'english score':50},
{'name':'julie', 'math score':90,'english score':70},
{'name':'alex', 'math score':30,'english score':40}
]

df_from_dict = pd.DataFrame(my_dict, columns=['name', 'math score', 'english score'])

print('create dataframe from dict')
print(df_from_dict)

create dataframe from list
    name  math score  english score
0  isaac          60             50
1  julie          90             70
2   alex          30             40
create dataframe from dict
    name  math score  english score
0  isaac          60             50
1  julie          90             70
2   alex          30             40

# Read/Write CSV File

In [4]:
df = pd.read_csv('RegularSeasonCompactResults.csv')
#df = pd.read_csv('RegularSeasonCompactResults.csv', header=None)

# print first five row
print(df.head())

# save dataframe to a csv file
df.to_csv('dfnew.csv', index=False)
#df.to_csv('dfnew.csv', index=False, header=False)
#sep=','

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

# Basic Manipulate

In [9]:
df = pd.read_csv('RegularSeasonCompactResults.csv')

In [10]:
print(df.shape)

(145289, 8)

In [11]:
print(df.head(10))

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0
5    1985      25   1218      79   1337      78    H      0
6    1985      25   1228      64   1226      44    N      0
7    1985      25   1242      58   1268      56    N      0
8    1985      25   1260      98   1133      80    H      0
9    1985      25   1305      97   1424      89    H      0

In [12]:
print(df.tail())

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

In [13]:
print(df.describe())

              Season         Daynum          Wteam         Wscore  \
count  145289.000000  145289.000000  145289.000000  145289.000000
mean     2001.574834      75.223816    1286.720646      76.600321
std         9.233342      33.287418     104.570275      12.173033
min      1985.000000       0.000000    1101.000000      34.000000
25%      1994.000000      47.000000    1198.000000      68.000000
50%      2002.000000      78.000000    1284.000000      76.000000
75%      2010.000000     103.000000    1379.000000      84.000000
max      2016.000000     132.000000    1464.000000     186.000000

               Lteam         Lscore          Numot
count  145289.000000  145289.000000  145289.000000
mean     1282.864064      64.497009       0.044387
std       104.829234      11.380625       0.247819
min      1101.000000      20.000000       0.000000
25%      1191.000000      57.000000       0.000000
50%      1280.000000      64.000000       0.000000
75%      1375.000000      72.000000       0.000000
max      1464.000000     150.000000       6.000000

In [14]:
print(df.max())

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

In [15]:
print('print Wscore max and Lscore mean')
print(df['Wscore'].max())
print(df['Lscore'].mean())

print Wscore max and Lscore mean
186
64.49700940883343

In [16]:
# use iloc(integer-location based indexing for selection by position) to access row

print('print first three row of dataframe')
print(df.iloc[:3])

print first three row of dataframe
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0

In [18]:
print(df[['Wscore', 'Lscore']].head())

   Wscore  Lscore
0      81      64
1      77      70
2      63      56
3      70      54
4      86      74

In [21]:
print('print Wscore that is greater than 150')
print(df[df['Wscore'] > 150])

print Wscore that is greater than 150
       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
5269     1986      75   1258     151   1109     107    H      0
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
16040    1989      40   1328     152   1331     122    H      0
16853    1989      68   1258     162   1109     144    A      0
17867    1989      92   1258     181   1109     150    H      0
19653    1990      30   1328     173   1109     101    H      0
19971    1990      38   1258     152   1109     137    A      0
20022    1990      40   1116     166   1109     101    H      0
22145    1990      97   1258     157   1362     115    H      0
23582    1991      26   1318     152   1258     123    N      0
24341    1991      47   1328     172   1258     112    H      0
24970    1991      68   1258     186   1109     140    H      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
40060    1995      32   1375     156   1341     114    H      0
52600    1998      33   1395     153   1410      87    H      0

In [22]:
print('print Wscore that is greater than 150 and Lscore is less than 100')
df[(df['Wscore'] > 150) & (df['Lscore'] < 100)]

print Wscore that is greater than 150 and Lscore is less than 100

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
52600    1998      33   1395     153   1410      87    H      0

# Add/Drop Pandas Row/Column

In [32]:
import pandas as pd

my_list = [('isaac', 60, 50),('julie', 90, 70),('alex', 30, 40)]
header = ['name','math score','english score']
df_from_list = pd.DataFrame.from_records(my_list, columns=header)

print(df_from_list)


new_row = pd.DataFrame([['leo', 70, 50]], columns=df_from_list.columns.tolist() )

print('add a new row')
# add a new row
df = df_from_list.append(new_row, ignore_index=True)
print(df)

print('drop a row')
# drop a row
df = df.drop([2], axis=0)
df = df.reset_index(drop=True)
print(df)

print('add a new column')
# add a new column
df['chinese score'] = pd.Series([ 50, 70, 60])
print(df)

print('drop a column')
# drop a column
df = df.drop(['math score'], axis=1)
print(df)

    name  math score  english score
0  isaac          60             50
1  julie          90             70
2   alex          30             40
add a new row
    name  math score  english score
0  isaac          60             50
1  julie          90             70
2   alex          30             40
3    leo          70             50
drop a row
    name  math score  english score
0  isaac          60             50
1  julie          90             70
2    leo          70             50
add a new column
    name  math score  english score  chinese score
0  isaac          60             50             50
1  julie          90             70             70
2    leo          70             50             60
drop a column
    name  english score  chinese score
0  isaac             50             50
1  julie             70             70
2    leo             50             60

# Missing Value

In [1]:
import pandas as pd

# load csv file
df = pd.read_csv('na_demo.csv')

print('origin dataframe')
print(df)

print('drop row that contain any missing value')
# drop row that contain any missing value
df_no_missing = df.dropna()
print(df_no_missing)

print('fill missing value with mean')
# fill missing value with mean 
df["size"].fillna(df["size"].mean(), inplace=True)
print(df)

origin dataframe
   size  number_room  house_price house_type
0  40.0          3.0          800        old
1  29.0          5.0          700      young
2  33.0          2.0          670      young
3   NaN          2.0          770        old
4   NaN          NaN          870      young
drop row that contain any missing value
   size  number_room  house_price house_type
0  40.0          3.0          800        old
1  29.0          5.0          700      young
2  33.0          2.0          670      young
fill missing value with mean
   size  number_room  house_price house_type
0  40.0          3.0          800        old
1  29.0          5.0          700      young
2  33.0          2.0          670      young
3  34.0          2.0          770        old
4  34.0          NaN          870      young

# Encoding categorical features

In [3]:
import pandas as pd

# load csv file
df = pd.read_csv('na_demo.csv')

print('origin dataframe')
print(df)

print('encode category')
df['house_type'] = pd.Categorical(df['house_type']).codes
print(df)

origin dataframe
   size  number_room  house_price house_type
0  40.0          3.0          800        old
1  29.0          5.0          700      young
2  33.0          2.0          670      young
3   NaN          2.0          770        old
4   NaN          NaN          870      young
encode category
   size  number_room  house_price  house_type
0  40.0          3.0          800           0
1  29.0          5.0          700           1
2  33.0          2.0          670           1
3   NaN          2.0          770           0
4   NaN          NaN          870           1

# Apply

In [11]:
import pandas as pd

df = pd.read_csv('RegularSeasonCompactResults.csv')
print(df.head())

df['Wscore'] = df['Wscore'].apply(lambda x: 'high score' if x>70 else 'low score')
print(df.head())

print('==================')

df = pd.read_csv('RegularSeasonCompactResults.csv')
print(df.head())

def add_one(x):
    if x > 70:
        return 'hight score'
    else:
        return 'low score'
    

df['Wscore'] = df['Wscore'].apply(add_one)
print(df.head())

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0
   Season  Daynum  Wteam      Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228  high score   1328      64    N      0
1    1985      25   1106  high score   1354      70    H      0
2    1985      25   1112   low score   1223      56    H      0
3    1985      25   1165   low score   1432      54    H      0
4    1985      25   1192  high score   1447      74    H      0
==================
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0
   Season  Daynum  Wteam       Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228  hight score   1328      64    N      0
1    1985      25   1106  hight score   1354      70    H      0
2    1985      25   1112    low score   1223      56    H      0
3    1985      25   1165    low score   1432      54    H      0
4    1985      25   1192  hight score   1447      74    H      0

# Merge

In [11]:
import pandas as pd

df1 = pd.read_csv('merge1.csv')
df2 = pd.read_csv('merge2.csv')

print('first dataframe is:')
print(df1.head())

print('second dataframe is:')
print(df2.head())

first dataframe is:
  student name  math score
0        isaac         100
1        kevin          70
2         jack          90
3         judy          75
second dataframe is:
  student name  english score
0        isaac             70
1         jack             33
2         judy             89
3        kevin             64
4         alex             99

In [12]:
print('\ninner merge\n')
inner_merge = pd.merge(df1, df2, on='student name')
print(inner_merge.head())

inner merge

  student name  math score  english score
0        isaac         100             70
1        kevin          70             64
2         jack          90             33
3         judy          75             89

In [13]:
print('\nouter merge\n')
outer_merge = pd.merge(df1, df2, on='student name', how='outer')
print(outer_merge.head())

outer merge

  student name  math score  english score
0        isaac       100.0             70
1        kevin        70.0             64
2         jack        90.0             33
3         judy        75.0             89
4         alex         NaN             99

# Append

In [6]:
import pandas as pd

df1 = pd.read_csv('append1.csv')
df2 = pd.read_csv('append2.csv')


print('first dataframe is:')
print(df1)

print('second dataframe is:')
print(df2)

df_append = df1.append(df2)
print(df_append)

df_append = df1.append(df2, ignore_index=True)
print(df_append)

first dataframe is:
  student name  math score
0        isaac         100
1        kevin          70
2         jack          90
3         judy          75
second dataframe is:
  student name  math score
0        salad          13
1         lily          75
  student name  math score
0        isaac         100
1        kevin          70
2         jack          90
3         judy          75
0        salad          13
1         lily          75
  student name  math score
0        isaac         100
1        kevin          70
2         jack          90
3         judy          75
4        salad          13
5         lily          75

# Groupby

In [39]:
import pandas as pd

df = pd.read_csv('RegularSeasonCompactResults.csv')
print(df.head())
print(df.groupby('Wloc').sum())
print('======')
print(df.groupby('Wloc').mean())

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0
         Season   Daynum      Wteam   Wscore      Lteam   Lscore  Numot
Wloc
A      88529580  3491965   56885271  3307504   56745323  2889768   2455
H     173076379  6348360  111306614  6722177  110918450  5543282   3160
N      29200847  1088868   18754471  1099503   18722264   937656    834
======
           Season     Daynum        Wteam     Wscore        Lteam     Lscore  \
Wloc
A     2001.618395  78.951932  1286.153225  74.781343  1282.989057  65.336499
H     2001.554035  73.416059  1287.213216  77.739092  1282.724266  64.105677
N     2001.566043  74.636233  1285.521352  75.365207  1283.313730  64.271437

         Numot
Wloc
A     0.055507
H     0.036544
N     0.057166

# Time Series

In [21]:
import pandas as pd
from datetime import datetime as dt
p1 = pd.Timestamp(2017,6,19)
p2 = pd.Timestamp(dt(2017,6,19,hour=9,minute=13,second=45))
p3 = pd.Timestamp("2017-6-19 9:13:45")

# different format
p4 = pd.to_datetime("2016-12-09")
p5 = pd.to_datetime("09/12/2016")
p6 = pd.to_datetime("09/12/2016", dayfirst=True)
p7 = pd.to_datetime("09/12/2016", format="%d/%m/%Y")

print(p1)
print(p2)
print(p3)

print('======')
print(p4)
print(p5)
print(p6)
print(p7)

2017-06-19 00:00:00
2017-06-19 09:13:45
2017-06-19 09:13:45
======
2016-12-09 00:00:00
2016-09-12 00:00:00
2016-12-09 00:00:00
2016-12-09 00:00:00

In [22]:
from datetime import datetime
import pandas as pd

data = {'date': ['2014-05-01 18:47:05.069722', '2014-05-01 18:47:05.119994', '2014-05-02 18:47:05.178768', '2014-05-02 18:47:05.230071', '2014-05-02 18:47:05.230071', '2014-05-02 18:47:05.280592', '2014-05-03 18:47:05.332662', '2014-05-03 18:47:05.385109', '2014-05-04 18:47:05.436523', '2014-05-04 18:47:05.486877'], 
        'battle_deaths': [34, 25, 26, 15, 15, 14, 26, 25, 62, 41]}
df = pd.DataFrame(data, columns = ['date', 'battle_deaths'])
print(df)

# convert df['date'] from string to datetime
df['date'] = pd.to_datetime(df['date'])
# set pandas frame index as date
df.index = df['date']
df = df.drop(['date'], axis=1)
print(df)

# view all observations that occured in 2014
print(df['2014'])

# view all observations that occured in May 2014
#print(df['2014-05'])

# view observations after May 3rd, 2014
#print(df[datetime(2014, 5, 3):])

# view observations between May 3rd and May 4th
#print(df['5/3/2014':'5/4/2014'])

                         date  battle_deaths
0  2014-05-01 18:47:05.069722             34
1  2014-05-01 18:47:05.119994             25
2  2014-05-02 18:47:05.178768             26
3  2014-05-02 18:47:05.230071             15
4  2014-05-02 18:47:05.230071             15
5  2014-05-02 18:47:05.280592             14
6  2014-05-03 18:47:05.332662             26
7  2014-05-03 18:47:05.385109             25
8  2014-05-04 18:47:05.436523             62
9  2014-05-04 18:47:05.486877             41
                            battle_deaths
date
2014-05-01 18:47:05.069722             34
2014-05-01 18:47:05.119994             25
2014-05-02 18:47:05.178768             26
2014-05-02 18:47:05.230071             15
2014-05-02 18:47:05.230071             15
2014-05-02 18:47:05.280592             14
2014-05-03 18:47:05.332662             26
2014-05-03 18:47:05.385109             25
2014-05-04 18:47:05.436523             62
2014-05-04 18:47:05.486877             41
                            battle_deaths
date
2014-05-01 18:47:05.069722             34
2014-05-01 18:47:05.119994             25
2014-05-02 18:47:05.178768             26
2014-05-02 18:47:05.230071             15
2014-05-02 18:47:05.230071             15
2014-05-02 18:47:05.280592             14
2014-05-03 18:47:05.332662             26
2014-05-03 18:47:05.385109             25
2014-05-04 18:47:05.436523             62
2014-05-04 18:47:05.486877             41

# Crawl Data via Pandas

In [8]:
import pandas as pd
url = 'http://rate.bot.com.tw/xrt?Lang=zh-TW'
df_list = pd.read_html(url)
print(df_list[0])

                        幣別  \
        Unnamed: 0_level_1
0       美金 (USD)  美金 (USD)
1       港幣 (HKD)  港幣 (HKD)
2       英鎊 (GBP)  英鎊 (GBP)
3       澳幣 (AUD)  澳幣 (AUD)
4   加拿大幣 (CAD)  加拿大幣 (CAD)
5   新加坡幣 (SGD)  新加坡幣 (SGD)
6   瑞士法郎 (CHF)  瑞士法郎 (CHF)
7       日圓 (JPY)  日圓 (JPY)
8     南非幣 (ZAR)  南非幣 (ZAR)
9     瑞典幣 (SEK)  瑞典幣 (SEK)
10      紐元 (NZD)  紐元 (NZD)
11      泰幣 (THB)  泰幣 (THB)
12  菲國比索 (PHP)  菲國比索 (PHP)
13    印尼幣 (IDR)  印尼幣 (IDR)
14      歐元 (EUR)  歐元 (EUR)
15      韓元 (KRW)  韓元 (KRW)
16    越南盾 (VND)  越南盾 (VND)
17    馬來幣 (MYR)  馬來幣 (MYR)
18    人民幣 (CNY)  人民幣 (CNY)

                                                                                                 \
   \n                    \n                        本行買入\n                    \n
0                                              29.525
1                                               3.661
2                                               38.85
3                                               22.31
4                                               22.56
5                                               21.84
6                                               29.56
7                                              0.2618
8                                                   -
9                                                3.07
10                                               20.6
11                                             0.8264
12                                              0.489
13                                            0.00178
14                                              34.39
15                                            0.02581
16                                            0.00094
17                                              6.385
18                                              4.569

                                                                                           現金匯率  \
   \n                    \n                        本行賣出\n                    \n
0                                              30.067
1                                               3.851
2                                               40.78
3                                               22.97
4                                                23.3
5                                               22.62
6                                               30.62
7                                              0.2728
8                                                   -
9                                                3.58
10                                              21.23
11                                             0.9694
12                                              0.622
13                                            0.00248
14                                              35.54
15                                            0.02971
16                                            0.00144
17                                              8.015
18                                              4.731

                                                                             Unnamed: 3_level_0  \
   \n                    \n                        本行買入\n                    \n
0                                              29.825
1                                               3.776
2                                               39.72
3                                                22.5
4                                               22.83
5                                               22.26
6                                               30.09
7                                              0.2682
8                                                2.19
9                                                3.41
10                                              20.84
11                                             0.9149
12                                                  -
13                                                  -
14                                              34.89
15                                                  -
16                                                  -
17                                                  -
18                                              4.641

                                                                                           即期匯率  \
   \n                    \n                        本行賣出\n                    \n
0                                              29.925
1                                               3.836
2                                               40.14
3                                               22.73
4                                               23.05
5                                               22.44
6                                               30.38
7                                              0.2722
8                                                2.27
9                                                3.51
10                                              21.04
11                                             0.9549
12                                                  -
13                                                  -
14                                              35.29
15                                                  -
16                                                  -
17                                                  -
18                                              4.691

   Unnamed: 5_level_0 \n                    遠期匯率\n                     歷史匯率  \
   Unnamed: 5_level_1                                         本行買入     本行賣出
0                  查詢                                           查詢   29.525
1                  查詢                                           查詢    3.661
2                  查詢                                           查詢    38.85
3                  查詢                                           查詢    22.31
4                  查詢                                           查詢    22.56
5                  查詢                                           查詢    21.84
6                  查詢                                           查詢    29.56
7                  查詢                                           查詢   0.2618
8                  查詢                                           查詢        -
9                  查詢                                           查詢     3.07
10                 查詢                                           查詢     20.6
11                 查詢                                           查詢   0.8264
12                 查詢                                           查詢    0.489
13                 查詢                                           查詢  0.00178
14                 查詢                                           查詢    34.39
15                 查詢                                           查詢  0.02581
16                 查詢                                           查詢  0.00094
17                 查詢                                           查詢    6.385
18                 查詢                                           查詢    4.569

               現金匯率 Unnamed: 10_level_0                即期匯率  \
       本行買入    本行賣出 Unnamed: 10_level_1 Unnamed: 11_level_1
0    30.067  29.825              29.925                 NaN
1     3.851   3.776               3.836                 NaN
2     40.78   39.72               40.14                 NaN
3     22.97    22.5               22.73                 NaN
4      23.3   22.83               23.05                 NaN
5     22.62   22.26               22.44                 NaN
6     30.62   30.09               30.38                 NaN
7    0.2728  0.2682              0.2722                 NaN
8         -    2.19                2.27                 NaN
9      3.58    3.41                3.51                 NaN
10    21.23   20.84               21.04                 NaN
11   0.9694  0.9149              0.9549                 NaN
12    0.622       -                   -                 NaN
13  0.00248       -                   -                 NaN
14    35.54   34.89               35.29                 NaN
15  0.02971       -                   -                 NaN
16  0.00144       -                   -                 NaN
17    8.015       -                   -                 NaN
18    4.731   4.641               4.691                 NaN

   Unnamed: 12_level_0
   Unnamed: 12_level_1
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9                  NaN
10                 NaN
11                 NaN
12                 NaN
13                 NaN
14                 NaN
15                 NaN
16                 NaN
17                 NaN
18                 NaN

# SQL with Pandas

In [30]:
import pandas as pd
import sqlite3 as sql


df = pd.read_csv('RegularSeasonCompactResults.csv')
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [31]:
# connect to db. if db is not exist, it will create a new one
conn = sql.connect("db_example.db")

In [32]:
# insert dataframe into table. If table exist, it would replace it
df.to_sql("example_table", conn, if_exists="replace", index=False)

In [33]:
# query from DB 
df_query = pd.read_sql_query("select * from example_table;", conn)
print(df_query.head())

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [34]:
df.shape

(145289, 8)

In [35]:
# insert dataframe into table. If table exist, it would replace it
df.to_sql("example_table", conn, if_exists="append", index=False)

In [36]:
df_query = pd.read_sql_query("select * from example_table;", conn)
print(df_query.shape)

(290578, 8)